extends layout

block content
  h1 Hugo
  p
    | Your public site is available at:&nbsp;
    a(href = url target = "_blank")= url
    | .
  - if(!isDemo)
    p To set up your domain to point at your public site, add the following DNS records to your domain. Replace <code>blog.example.com</code> with your site's hostname.
    table
      thead
        th Name
        th Type
        th Value
      tbody
        tr
          td blog.example.com
          td CNAME
          td= domain
        tr
          td sandstorm-www.blog.example.com
          td TXT
          td= publicId
  h2 Editing your site
  p To check out the Git repository containing your site, first add an authorization key to Git:
  iframe#gitAuthorize(style = "width: 100%; height: 25px; margin: 0; border: 0;")
  p Then run the following to clone the site:
  iframe#gitClone(style = "width: 100%; height: 25px; margin: 0; border: 0;")
  p Here are a few pointers to help you get started:
  li
    | Choose a theme to make your site look nice. Hugo’s&nbsp;
    a(href = "https://themes.gohugo.io/") theme showcase
    | &nbsp;is a good place to start.
  li Add the theme to your Git repository as a subtree at <code>themes/themename</code>.
  li Add <code>theme = "themename"</code> to <code>Config.toml</code>.
  li Push the repository, and your new site will be immediately published.
  h2 Pushing existing site
  p If you have an existing Hugo site, run the following to publish in this grain:
  iframe#gitPush(style = "width: 100%; height: 50px; margin: 0; border: 0;")
  h2 Admin interface
  p
    | You can do simple changes to your site directly in the&nbsp;
    a(href = "/admin/") admin interface
    | .

  script.
    document.addEventListener("DOMContentLoaded", function() {
      window.parent.postMessage({renderTemplate: {
        rpcId: "gitAuthorize",
        template: "echo url=" + window.location.protocol + "//git:$API_TOKEN@$API_HOST | git -c credential.helper=store credential approve"
      }}, "*")
      window.parent.postMessage({renderTemplate: {
        rpcId: "gitClone",
        template: "git clone -c credential.helper=store " + window.location.protocol + "//git@$API_HOST/git site"
      }}, "*")
      window.parent.postMessage({renderTemplate: {
        rpcId: "gitPush",
        template: "git remote add origin " + window.location.protocol + "//git@$API_HOST/git\ngit push -fu origin master"
      }}, "*")
    })
    window.addEventListener("message", function(event) {
      if(event.data.error)
        console.log(error)
      else {
        var el = document.getElementById(event.data.rpcId)
        el.setAttribute("src", event.data.uri)
      }
    })
