extends layout

block content
  p
    | This site is available at 
    a(href = url target = "_blank")= url
    | .
  - if(!isDemo)
    p Alternatively, you can publish it at your own custom domain by creating the following DNS records:
    table
      thead
        th Name
        th Type
        th Value
      tbody
        tr
          td example.com
          td CNAME
          td= domain
        tr
          td sandstorm-www.example.com
          td TXT
          td= publicId
